@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 480px) {
    body {
        background: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    button {
        width: 100px;
        height: 100px;
        font-size: 52px;
        font-weight: 700;
        color: #1A1B1B;
        background: pink;
        border: 1px solid #1A1B1B;
        border-radius: 50px;
    }
    .container-button {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input {
        padding: 5px;
        font-size: 34px;
        text-align: center;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 3px solid white;
        background: none;
        width: 300px;
    }
    #message {
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .main {
        margin-right: 8px;
    }
}